@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: #d1b133;
  --secondary: #5e5f64;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}

/* Navbar */
header nav {
  display: flex;
  gap: 18px;
  justify-content: end;
  max-width: 1200px;
  margin: 0 auto;
}

header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}

header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}

/*login form*/
form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 2px;
  border: none;
}

form input {
  color: rgb(18, 18, 18);
}

.login-btn {
  width: 200px;
  color: #d1b133;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100px;
}

.login-btn:hover {
  background-color: #d7d3bb;
}

/* not found page */
.img-cat-not-found {
  width: 500px;
  margin: 10px;
}

.homepage-btn :active {
  color: var(--primary);
}

/* article details */
.article-details {
  margin-top: 40px;
}

/* Settings Form Login */
.setting-form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.setting-form-label input {
  color: black;
  width: 60vh;
}

.setting-btn {
  margin-right: 20px;
  color: var(--primary);
}

.setting-btn:hover {
  background-color: #d7d3bb;
  border: none;
}

/* Article Form */
.article-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 16px;
  margin: 0 auto;
  padding: 20px;
  background-color: #4a4a4a;
  border-radius: 8px;
}

.add-article-title {
  display: flex;
  justify-content: center;
}

.article-form textarea {
  min-height: 150px;
  min-width: 100%;
  resize: vertical;
  color: #5e5f64;
}

.article-form label {
  padding-right: 3px;
}

.add-article-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  color: #d1b133;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
}

.add-article-btn:hover {
  background-color: #d7d3bb;
}

.not-logged-user {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  font-size: 20px;
}

.go-to-login-link:hover {
  color: #d1b133;
}

.toast-message {
  color: black !important;
}
